
extends layout

block content
  h1= title
  - var results = [{Robot_type: "Human", price: 200000, manufactured: "India"},{Robot_type: "Dog", price: 15000, manufactured: "China"},{Robot_type: "Rabbit", price: 10000, manufactured : "USA"}]

  .container-fluid
    .row
      each f,index in results 
        .col-sm-2(onclick=`buy(${index})`)
          | #{f.Robot_type}, $#{f.price}, #{f.manufactured}
          
  script.
    function buy(index) {
      alert(`Your purchased Item: ${index+1}`);
    }
